<script type="text/javascript">
    $(window).load(function (e) {
        // RUTA
        changueNav('Abonado'.bold(), 'Dashboard Abonado');
    });

</script>

<!--SECCION CONTENEDORA HEADER-->

<div data-ng-init="callSubscriberbyId();" style="padding: 50px;">

    <div class="row">
        <!--HEADER-->
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-heading" style="background: #5E738B" style="background: #5E738B">
                    <h3 class="panel-title" style="color: #fff"><i class="fa fa-usd" aria-hidden="true"></i> Estado de cuenta <strong style="text-transform: uppercase;">Agencias</strong></h3>
                </div>

                <div class="panel-body m-subscriber-dsbd">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="title">saldo total</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h1 class="title">viajes</h1>
                        </div>
                        <div class="col-md-6">
                            <h2 class="title">saldos</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="sub-title"> Nube entre agencias</h3>
                        </div>
                        <div class="col-md-6">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="sub-title"> Entre Nubes</h3>
                        </div>
                        <div class="col-md-6">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="sub-title"> viapoll</h3>
                        </div>
                        <div class="col-md-6">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="sub-title"> ba-remis</h3>
                        </div>
                        <div class="col-md-6">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="sub-title">Abonos Vencidos</h3>
                        </div>
                        <div class="col-md-6">

                        </div>
                    </div>
                </div>
            </div>
        </div>