<script type="text/javascript">
    $(window).load(function (e) {
        // RUTA
        changueNav('Agencia'.bold(), 'Dashboard Agencia');
    });

</script>

<!--SECCION CONTENEDORA HEADER-->

<div data-ng-init="callSellerAccountById();" style="padding: 50px;">

    <div class="row">
        <!--HEADER-->
        <div class="col-sm-12">
          <div class="panel">
                <div class="panel-heading"  style="background: #5E738B" style="background: #5E738B">
                    <h3 class="panel-title" style="color: #fff"><i class="fa fa-usd" aria-hidden="true"></i> Estado de cuenta <strong style="text-transform: uppercase;">{{nameSeller}} {{lastnameSeller}}</strong></h3>
                </div>

            <div class="panel-body">
              
            </div>
            <div class="panel-footer">
                    <a class="btn btn-circle red-intense" href="#"> Volver </a>
            </div>
        </div>
      </div>
