
<!-- Modal -->
<div id="modalCloud" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="background: #5E738B">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" style="color: #fff"><i class="fa fa-cloud-upload "></i> Enviar a Nube {{travelCloud.codTravel}}</h4>
      </div>
      <div class="modal-body">
        
       <div class="row">

        <!--<div class="col-sm-6">
          <div class="form-group">
           <label class="control-label caption-subject font-blue-ebonyclay bold uppercase" >Pais de la Agenia</label>
           <select class="form-control"  ng-options="item.idCondicionType as item.condicionType for item in filterForm.taxtcondition" ng-model="idCondicionTypeClient" ng-required="true">
             <option value="">Seleccione</option>
             </select>
         </div>
        </div>
        
        <div class="col-sm-6">
        <div class="form-group">
         <label class="control-label caption-subject font-blue-ebonyclay bold uppercase" >Grupo de Agencia</label>
         <select class="form-control"  ng-options="item.idCondicionType as item.condicionType for item in filterForm.taxtcondition" ng-model="idCondicionTypeClient" ng-required="true">
           <option value="">Seleccione</option>
           </select>
         </div>
         </div>-->

        

        <div class="col-sm-12">
        <hr>
        <div class="form-group">
         <label class="control-label caption-subject font-blue-ebonyclay bold uppercase" >Indique una Agencia </label>
         <select class="form-control"  ng-options="item.id as item.name for item in cloudCompany" ng-model="idCloudCompany" ng-required="true">
           <option value="">Seleccione</option>
           </select>
         </div>
        </div>
        </div>
          
          

      </div>
      <div class="modal-footer">
      <input type="hidden"  id="idCloudCompany"  value="{{idCloudCompany}}">

         <button ng-show="idCloudCompany != null " ng-click="sendCloud()" 
         class="btn btn-circle green-jungle" >Enviar a Nube</button>

        <button type="button" class="btn btn-circle red-intense" data-dismiss="modal">Cerrar</button>
      </div>
    </div>

  </div>
</div>