
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="background: #5E738B">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" style="color: #fff">Detalles de el Cliente</h4>
      </div>
      <div class="modal-body">
        
       
        <div class="form-group">
            <label class="control-label caption-subject font-blue-ebonyclay bold uppercase">#:</label>
          <label class="control-label caption-subject font-blue-ebonyclay  uppercase">{{infocodTravel}}</label>
         </div>

          <div class="form-group">
            <label class="control-label caption-subject font-blue-ebonyclay bold uppercase">Cliente:</label>
          <label class="control-label caption-subject font-blue-ebonyclay  uppercase">{{infoclient}}</label>
         </div>

        

          <div class="form-group">
            <label class="control-label caption-subject font-blue-ebonyclay bold uppercase">Chofer:</label>
          <label class="control-label caption-subject font-blue-ebonyclay  uppercase">{{infodriver}}</label>
         </div>

          

          <div class="form-group">
            <label class="control-label caption-subject font-blue-ebonyclay bold uppercase">Origen:</label>
          <label class="control-label caption-subject font-blue-ebonyclay  uppercase">{{infonameOrigin}}</label>
         </div>

         <div class="form-group">
            <label class="control-label caption-subject font-blue-ebonyclay bold uppercase">Destino:</label>
          <label class="control-label caption-subject font-blue-ebonyclay  uppercase">{{infonameDestination}}</label>
         </div>


          

          <div class="form-group">
            <label class="control-label caption-subject font-blue-ebonyclay bold uppercase">Precio:</label>
          <label class="control-label caption-subject font-blue-ebonyclay  uppercase">{{infototalAmount}}</label>
         </div>


         <div class="form-group">
            <label class="control-label caption-subject font-blue-ebonyclay bold uppercase">Tiempo:</label>
          <label class="control-label caption-subject font-blue-ebonyclay  uppercase">{{infotime}}</label>
         </div>


        
          

          
          

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-circle red-intense" data-dismiss="modal">Cerrar</button>
      </div>
    </div>

  </div>
</div>